body {
	color: white;
	background: #444;
	font-family: sans-serif;
	margin: 0px;
	overflow: hidden;
}

.edge-v {
	border-style: none;
	border-image: linear-gradient( to top, rgba(0, 0, 0, 0), #3faade, rgba(0, 0, 0, 0) ) 1;
}

.edge-h {
	border-style: none;
	border-image: linear-gradient( to right, rgba(0, 0, 0, 0), #3faade, rgba(0, 0, 0, 0) ) 1;
}

.edge-left { border-left: solid 1px; }
.edge-right { border-right: solid 1px; }
.edge-top { border-top: solid 1px; }
.edge-bottom { border-bottom: solid 1px; }

.panel { position: absolute }
.home-panel {
	width: 800px;
	height: 480px;
	color: white;
	background: black;
}
.home-panel > table {
	width: 100%;
	height: 100%
}
.home-panel .error {
	color: #993333;
	text-align: center
}

.widget {
	display: table-cell;
	vertical-align: middle;
}

.widget iframe {
	border: none;
	width: 100%;
	height: 100%
}
