body, a {
	color: white;
	background: black;
	font-family: sans-serif;
	margin: 0;
}

a.button {
	display: inline-block;
	padding: .5em;
	text-decoration: none;
}

a.button:hover {
	text-decoration: underline;
}

.fa, .wi {
	color: #3faade
}